.gifBox{
    align-items: center;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.gifBox h2{
    margin-top: 24px;
}

.gifBox a{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 12px;
    text-decoration: none;
    width: fit-content;
}
.gifBox a:hover{
    text-decoration:underline;
}