.App{
    height: 100vh;
}

.App main{
    margin-top: 30px;
    max-width: 960px;
    margin: 0 auto;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
}

.linksContainer a{
    color: var(--blue);
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
    transition: 0.3s linear;
}

.linksContainer a:hover{
    color: var(--white);
}